$font-family-sans-serif: var(--bs-font-sans-serif) !default
$font-family-monospace: var(--bs-font-monospace) !default

// Custom
$left-sidebar-width: 309px
$left-sidebar-animation-speed: 170ms
// Brand book
$bb-blue: #57B2D9
$bb-dark-gray: #C8C8C8
$bb-soft-gray: #F5F5F5
$bb-gray: #DFDFDF

// Overrides
$navbar-padding-y: .4 !default
$vertical-margin: 32px
