// Fonts
@import "fonts"

// Variables
@import "root"

// Required
@import "~bootstrap/scss/functions"
// Custom variables (before system for override)
@import "variables"
@import "~bootstrap/scss/variables"
@import "~bootstrap/scss/mixins"
@import "mixins"

// Optional
@import "~bootstrap/scss/reboot"
@import "~bootstrap/scss/type"
@import "~bootstrap/scss/images"
@import "~bootstrap/scss/containers"
@import "~bootstrap/scss/grid"

// Components
@import "~bootstrap/scss/navbar"
@import "~bootstrap/scss/list-group"
@import "~bootstrap/scss/bootstrap-utilities"
@import "~bootstrap/scss/tables"
@import "~bootstrap/scss/forms"
@import "~bootstrap/scss/buttons"

// Common global style rules
html,body,#app
    min-height: 100%
    height: 100%
body
    background: whitesmoke

// Component style files
@import "~c@/MainPageCommon.sass"
@import "~c@/pages/Auth/Login.sass"
@import "~c@/widgets/Accidents.sass"
@import "~c@/pages/MainPage.sass"
@import "~c@/widgets/Clients.sass"
@import "~c@/RightChat.sass"
@import "~c@/LeftSidebar.sass"
@import "~c@/WasherPreview.sass"
@import "~c@/MainMenu.sass"
@import "~c@/WasherPreviewWidget.sass"
@import "~c@/MainContent.sass"
@import "~c@/ContentWindow.sass"
@import "~c@/BurgerButton.sass"
