$mp-base-left-padding: 2 * $spacer
$mp-height: 3.5 * $spacer

.main-page
  display: grid
  grid-auto-rows: auto 1fr
  height: calc(100vh - #{$mp-height})
  margin: 0 -$spacer 0 -$spacer
  .main-page__fixed,
  .main-page__scrollable
    @extend .pt-4
    padding: $spacer
    box-shadow: 0 5px 5px 0 rgba(175, 175, 175, 0.46)
    overflow-x: hidden
  .main-page__fixed
    background: #eaeaea
    border-bottom: 1px solid #c6c6c6
  .main-page__scrollable
    overflow: scroll
    height: 100%
  &.main-page_with-sidebar
    margin-right: -$spacer
    margin-left: -$mp-base-left-padding
    .main-page__fixed,
    .main-page__scrollable
      padding-left: 2 * $spacer
