$mp-base-left-padding: 2 * $spacer
$mp-height: 3.5 * $spacer

.main-page
  height: calc(100vh - #{$mp-height})
  margin: 0 -$spacer 0 -$spacer
  .main-page__fixed,
  .main-page__scrollable
    @extend .pt-4
    padding: $spacer
    box-shadow: 0 5px 5px 0 #afafaf
  .main-page__fixed
    flex: 0 1 auto
    background: #eaeaea
  .main-page__scrollable
    flex: 1 1 auto
    overflow: scroll
    height: 100%
  &.main-page_with-sidebar
    margin-right: -$spacer
    margin-left: -$mp-base-left-padding
    .main-page__fixed,
    .main-page__scrollable
      padding-left: 2 * $spacer
