.main-content
  float: right
  width: 100%
  transition: width $animation-speed ease-in-out
  padding: $mc-padding
  &.main-content_padding
    width: calc(100% - #{$left-sidebar-width})
  &.main-content_with-pin
    padding-left: $mc-pin-left-padding
