.washer-preview-expander
  background: $gray-400
  height: 100%
  width: 30px
  top: 0
  right: 0
  &:hover
    background: #99bff1 !important
  &.washer-preview-expander__over
    background: #b1c8e7
  &.washer-preview-expander__open
    box-shadow: inset -3px 0 5px 0 rgba(175, 175, 175, 0.6)
