.washer-preview
  background: $gray-200
  @include border-radius($spacer)
  &:hover
    background: $gray-300
  .washer-preview__common
    background: $gray-400
    @include border-start-radius($spacer)
