.widget-item
  height: 100%
  width: 100%
  min-height: 3 * $spacer
  min-width: 5.3 * $spacer
  &.widget-item_over
    background: #d0dae5
    .widget-item__common-header
      color: $red
  .widget-item__body
    @extend .py-2
    @include window
