.widget-item
  width: 100%
  min-height: 4.375 * $spacer
  min-width: 5.3 * $spacer
  border-right: 1px solid $gray-400
  &:last-child
    border-right: none
  &.widget-item_over
    background: #cbdaee
    .widget-item__common-header
      color: $red
  .widget-item__body
    flex-grow: 1
    &:hover
      border-color: $primary
