.widget-item
  height: 100%
  width: 100%
  min-height: 3 * $spacer
  min-width: 5.3 * $spacer
  border-right: 1px solid $gray-400
  &:last-child
    border-right: none
  &.widget-item_over
    background: #cbdaee
    .widget-item__common-header
      color: $red
  .widget-item__body
    @extend .py-2
    &:hover
      border-color: $primary
